@import url('./reset.css');

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

section {
  padding-top: 36px;
}

.search-form {
  width: 450px;
  margin: 0 auto;
}

.search-input {
  padding-left: 16px;
  outline: transparent;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  margin-right: 8px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border-color 0.5s ease-in-out;
}

.search-input:hover {
  border-color: #000;
}

.search-input:focus {
  border-color: #4e75ff;
}

.search-input::placeholder {
  color: #808080;
}

.search-btn {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 91px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
}

.search-btn:hover,
.search-btn:focus {
  background: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery-item {
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
}

.gallery-item-img {
  display: block;
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.photo-info-list {
  display: flex;
  padding: 4px 20px;
  justify-content: space-between;
}

.photo-data-name {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.photo-data {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* Loader */
.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #FF3D00;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}